.bg-class{
    background-color: #ecf0f1;
}
.class-div-center{
    margin: auto;
    width: 50%;

    padding: 10px;
}

.border{

    border: 3px solid white;
}
body{
    background-color: #ecf0f1;
}

.div-margin{
    margin: 0px;
}

.verticalLine {
    border-left: thin solid #ff0000;
    padding: 10px;
}

.text-black{
    color: #0a0a0a;
}

.icon_next{

}
